PORT=<YOUR_PORT>
FIREBASE_SERVICE_ACCOUNT_TYPE="service_account"
FIREBASE_PROJECT_ID=<YOUR_FIREBASE_PROJECT_ID>
FIREBASE_PRIVATE_KEY_ID=<YOUR_FIREBASE_PRIVATE_KEY_ID>
FIREBASE_PRIVATE_KEY=<YOUR_FIREBASE_PRIVATE_KEY>
FIREBASE_CLIENT_EMAIL=<YOUR_FIREBASE_CLIENT_EMAIL>
FIREBASE_CLIENT_ID=<YOUR_FIREBASE_CLIENT_ID>
FIREBASE_AUTH_URI=<YOUR_FIREBASE_AUTH_URI>
FIREBASE_TOKEN_URI=<YOUR_FIREBASE_TOKEN_URI>
FIREBASE_AUTH_CERT_URL=<YOUR_FIREBASE_AUTH_CERT_URL>
FIREBASE_CLIENT_CERT_URL=<YOUR_FIREBASE_CLIENT_CERT_URL>
FIREBASE_UNIVERSE_DOMAIN=<YOUR_FIREBASE_UNIVERSE_DOMAIN>

GENERATOR_PDF_TEMPLATE_ID=<YOUR_GENERATOR_PDF_TEMPLATE_ID>
GENERATOR_PDF_API_SECRET=<YOUR_GENERATOR_PDF_API_SECRET>
GENERATOR_PDF_API_KEY=<YOUR_GENERATOR_PDF_API_KEY>
EMAIL=<YOUR_GENERATOR_PDF_EMAIL>

TWILIO_ACCOUNT_SID=<YOUR_TWILIO_ACCOUNT_SID>
TWILIO_AUTH_TOKEN=<YOUR_TWILIO_AUTH_TOKEN>